# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/builds
/Win32
/*.dfm
/*.local
/*.stat
/AMColServer/__recovery
/AMColServer/__history
/AMColServer/Win32
/AMColServer/*.dfm
/AMColServer/*.local
/AMColServer/*.stat
/AMRA/Win32
/AMRA/__history
/AMRA/__recovery
/AMRA/*.dfm
/AMRA/*.local
/AMRA/*.stat
/AMRA/*.optset
/ArmFileManagerGuardian/Win32
/ArmFileManagerGuardian/__history
/ArmFileManagerGuardian/__recovery
/ArmFileManagerGuardian/*.dfm
/ArmFileManagerGuardian/*.local
/ArmFileManagerGuardian/*.stat
/InstallConfigurator/Manager/Win32
/InstallConfigurator/Manager/__astcache
/InstallConfigurator/Manager/__history
/InstallConfigurator/Manager/__recovery
/InstallConfigurator/Manager/*.dfm
/InstallConfigurator/Manager/*.local
/InstallConfigurator/Manager/*.stat
